{
  "extends": "xo-space/esnext",
  "rules": {
    "space-before-function-paren": ["error", {
      "anonymous": "always",
      "named": "ignore",
      "asyncArrow": "always"
    }],
    "ignoreInlineComments": true
  }
}
