{
  "extends": "xo-space/esnext",
  "rules": {
    "space-before-function-paren": ["error", {
      "anonymous": "always",
      "named": "ignore",
      "asyncArrow": "always"
    }],
    "capitalized-comments": 0,
    "semi": ["error", "never"]
  }
}
